:root {
  font-size: 16px;

  --stripes-foreground: #606dbc;
  --stripes-background: #465298;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: skyblue;
  background-image: url('./images/background.jpg');
  background-size: cover;
  min-height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#line-animation-nav {
  display: flex;

  background: white;
  margin: 1rem;
}

#line-animation-nav a {
  color: purple;
  text-decoration: none;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#line-animation-nav a::before {
  content: ' ';
  height: 2px;
  background: orange;
  width: 0%;

  transition: 0.5s;
}

#line-animation-nav a:hover::before {
  width: 100%;
}